<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
var user=$('#user').text()
var chat=$('#chat').text()
    var socket = io.connect('http://127.0.0.1:5000');

     socket.on('message', function(data) {
        $("#messages").append('<li> '+data['user']+":"+data['msg']+'</li>');
    });
      $("#sendbutton").on('click', function(){socket.send({msg:$('#myMessage').val(),chat:chat, user:user});
      $('myMessage').val('');
    });


 });
</script>
<ul id="messages">
    {%for mes in messages%}
    <li>{{mes.username}}+': '+{{mes.msg}}</li>
    {%endfor%}
</ul>
<div id="user">{{user}}
</div>
<div id="chat">{{chat_id}}
</div>
<input type="text" id="myMessage">
<button id="sendbutton">send</button>
</body>
</html>