<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/filehandler" method = "POST" enctype = "multipart/form-data">
  <div>
    <label>Select file to upload</label>
    <input type="file" name="file">
         <input  type="text" name="chat"  value={{chat_id}}>
  </div>
  <button id="submitt" type="submitt">Convert</button>
</form>
new changes is for vetka 1
<script src="/static/jquery-3.6.0.min.js"></script>
<!-- <script src="/static/ggg.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
let base64String = "2";
$(document).ready(function(){
var user=$('#user').text()
var chat=$('#chat').text()
var friends=$('#friends').text()
    var private_socket=io.connect('http://127.0.0.1:5000/private');

    var socket = io.connect('http://127.0.0.1:5000');
    console.log(socket);


     socket.on('message', function(data) {
        
        $("#messages").append('<li> '+data['user']+":"+data['msg']);
        
    

    });
      $("#sendbutton").on('click', function(){ private_socket.emit('username',{'chat':chat,'sisid': socket.id});socket.send({msg:$('#myMessage').val(),chat:chat, user:user, friends:friends});
      $('myMessage').val('');
    });

  console.log(socket);
 });
</script>
<ul id="messages">
    {%for mes in messages%}

    <li>{{mes.username}}+': '+{{mes.msg}} <img width="40" height="100" src="http://127.0.0.1:5000/static/path/{{mes.filename}}"></li>
    {%endfor%}
</ul>
<div id="user">{{user}}
</div>
<div id="chat">{{chat_id}}
</div>

<div id="friends">{{friends}}
</div>
<input type="text" id="myMessage">
<button id="sendbutton">send</button>
<!--<script type="text/javascript">-->
<!--    var chatt=document.getElementById('chat').innerHTML;-->
<!--    var userr=document.getElementById('user').innerHTML;-->
<!--    console.log(chatt);-->
<!--     var button = document.getElementById("submitt");-->
<!--     button.addEventListener("click", async function() { var input = document.querySelector('input[type="file"]');-->

<!--var formData = new FormData();-->
<!--formData.append('file', input.files[0]);-->
<!--console.log(input.filename);-->
<!--formData.append('chat', chatt);-->
<!--formData.append('user', userr);-->


<!--const response= await fetch(`http://127.0.0.1:5000/filehandler`, {method: 'POST',-->
<!--  body: formData,-->
<!--  files:input.files[0],-->
<!--  mode: 'cors',});-->
<!--  console.log('dddds')-->
<!-- console.log(response.text())-->






<!--// Display the key/value pairs-->

<!--});-->

<!--</script>-->

</body>

</html>